# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Streamlit and local files
token.json
credentials.json
schedule.json

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
